doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title lmi-users-assingment
    include includes/stylesheet-server-includes
  body
    header.headr
      h1 lmi-users-assingment
    block content
    include includes/script-server-includes