script(type="text/javascript" src="/lib/angular/angular.js")
script(type="text/javascript" src="/lib/angular-route/angular-route.js")
script(type="text/javascript" src="/lib/angular-resource/angular-resource.js")

script(type="text/javascript" src="application.js")
script(type="text/javascript" src="/app/main-client-module.js")
script(type="text/javascript" src="/app/config/client-routes.js")

script(type="text/javascript" src="/app/controllers/index-client-controller.js")
script(type="text/javascript" src="/app/controllers/response-client-controller.js")

script(type="text/javascript" src="/app/services/user-client-service.js")
script(type="text/javascript" src="/app/services/data-client-service.js")
script(type="text/javascript" src="/app/services/util-client-service.js")

script(type="text/javascript" src="/app/directives/autocomplete-client-directive.js")